@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  background-color: #f2f2f2;
}

.page {
  min-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 15px;

  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #756257;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #615048;
  cursor: pointer;
}

.button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.navigation-button {
  width: 160px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.button:disabled,
.button:disabled:hover,
.mailing-input:disabled,
.mailing-input:disabled:hover,
.catalog-filter-input:disabled,
.control-input:disabled,
.select-count:disabled,
.select-control:disabled {
  background-color: #e5e5e5;
  opacity: 0.5;
  cursor: default;
  outline: none;
}


.mailing-submit {
  min-width: 200px;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;

  background-color: #83b3d3;
  border-radius: 0 10px 10px 0;
}

.mailing-submit:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.mailing-submit:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.mailing-submit:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Меню*/
.page-header {
  color: #000000;
  text-align: center;
}

.navigation {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 169px;
  padding: 0;

  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
  min-width: 265px;
}

.navigation-link {
  position: relative;

  display: block;
  padding: 20px 17px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  color: #000000;
}

.navigation-link:active {
  color: rgba(117, 104, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;

  height: 2px;

  background-color: #756257;

  content: "";
}

.navigation-user .navigation-link {
  width: 18px;
  height: 18px;
  padding: 12px;
}

.navigation-user .navigation-item:last-child {
  margin-left: 21px;
}

.logo {
  position: absolute;
  top: 0;

  width: 139px;
  height: 70px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 104, 87, 0.3);
}

.icon-button-counter {
  position: relative;
  top: -8px;
  left: 13px;
  z-index: 1;

  display: block;
  width: 20px;
  height: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;

  font-size: 10px;
  line-height: 13px;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-link:active .icon-button-counter {
  color: rgba(255, 255, 255, 0.3);
}

/*Контент*/
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.welcome {
  padding-top: 50px;
  padding-bottom: 83px;

  background-image: url("../images/main-top-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #68a2ca;
}

.section-title {
  margin-top: 0;
  margin-bottom: 31px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

/*Преимущества*/
.advantages {
  text-align: center;
  padding-top: 62px;
}

.section-discription {
  margin-top: 0;
  margin-bottom: 80px;

  font-size: 22px;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  text-align: center;
  list-style-type: none;

  background-color: #ffffff;
}

.advantages-img-item {
  display: flex;
  flex-wrap: wrap;

  background-color: #83b3d3;
}

.advantages-image {
  order: -1;
  margin-bottom: 23px;
}

.advantages-square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 98px 75px 87px 75px;
}

.advantages-item-realcity {
  padding: 89px 75px 89px 75px;

  background-repeat: no-repeat;
  background-position-x: center;
}

.advantages-item-realcity .advantages-realcity-title {
  margin-top: 95px;
}

.advantages-housing {
  background-image: url("../images/house.svg");
  background-color: rgba(131, 179, 211, 0.12);
  background-position-y: 89px;
}

.advantages-food {
  background-image: url("../images/burger.svg");
  background-color: #ffffff;
  background-position-y: 90px;
}

.advantages-gift {
  background-image: url("../images/gift.svg");
  background-color: rgba(131, 179, 211, 0.12);
  background-position-y: 86px;
}

.advantages-last {
  padding: 98px 75px 108px 75px;
}

.dark-blue {
  color: #ffffff;
  background-color: #83b3d3;
}

.dark-blue .advantages-title {
  color: #ffffff;
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.blue {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-img {
  display: block;
  height: auto;
  object-fit: cover;
}

.advantages-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-number {
  margin: 0;
}

.advantages-text {
  margin: 0;
}

/*Поиск гостиниц*/
.search-hotels {
  display: flex;
  align-items: center;
  padding-top: 91px;

  flex-direction: column;
}

.search-hotels-title {
  margin-top: 0;
  margin-bottom: 29px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-hotels-text {
  margin-top: 0;
  margin-bottom: 56px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hotels-button {
  width: 575px;
  margin-top: 0;
  margin-bottom: 92px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 20px;
  line-height: 30px;
  font-weight: 700;

  border-radius: 10px;
}

/*Подписка*/
.mailing {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
  text-align: center;

  background-image: url("../images/mailing-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #68a2ca;
}

.mailing-index {
  padding-top: 94px;
  padding-bottom: 94px;
}

.mailing-title {
  margin-top: 0;
  margin-bottom: 29px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.mailing-text {
  margin-top: 0;
  margin-bottom: 46px;

  font-size: 22px;
  line-height: 26px;
  color: inherit;
}

.mailing-form {
  display: flex;
  width: 800px;
}

.mailing-input {
  width: 600px;
  padding: 20px 22px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;

  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.6);
}

.mailing-input:hover {
  background-color: #e6e6e6;
}

.mailing-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

/*Состояние при ошибке*/
.mailing-input.invalid {
  background-color: #ffffff;
  outline: 2px solid #ff5757;
}

.mailing-inner {
  margin-bottom: 140px;

  color: #333333;

  background-image: none;
  background-color: #ffffff;
}

.mailing-inner-title {
  margin-bottom: 46px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.mailing-inner-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/*Каталог гостиниц*/
.hotel-catalog {
  padding-bottom: 85px;
}

.catalog-filter-title {
  margin-bottom: 33px;

  font-size: 20px;
  line-height: auto;
  font-weight: 700;
  color: inherit;
}

/* Control */
.control {
  position: relative;

  display: block;
  padding-left: 39px;
}

.catalog-filter-type .control {
  padding-left: 42px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.control:focus-within .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-input:disabled + .control-mark {
  background-color: rgba(255, 255, 255, 0.6)
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  width: 20px;
  height: 20px;

  background: url("../images/mark.svg") no-repeat;
  background-position: center;

  content: "";
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  margin-left: 3px;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;

  content: "";
}

.control-label {
  font-weight: 400;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter-infrastructure {
  width: 150px;
  margin-right: 61px;
}

.catalog-filter-type {
  width: 150px;
}

.catalog-filter-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 287px;
  margin-left: auto;
}

.catalog-filter-buttoms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  margin-left: 81px;
}

.catalog-filter-buttom {
  width: 160px;
  margin-bottom: 22px;
  margin-top: auto;
  padding: 14px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;

  background-color: #83b3d3;
}

.catalog-filter-buttom:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.catalog-filter-buttom:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.catalog-filter-buttom:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.catalog-filter-reset {
  color: #ffffff;
}

.catalog-filter-reset:focus-within {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.catalog-filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.catalog-filter-reset:focus {
  color: #ffffff;
  outline: 3px solid #83b3d3;
}

.catalog-filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/*Цена*/
.range-wrapper-inputs {
  position: relative;

  display: flex;
  margin-bottom: 28px;
}

.catalog-filter-input {
  padding: 12px 15px;
  margin-top: 4px;
  box-sizing: border-box;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;

  border: 2px solid #ffffff;
  background: none;
}

.catalog-filter-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.filter-price-right:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-left: none;
}

.catalog-filter-input:focus {
  box-shadow: inset 0 0 0 2px #83b3d3;
  border: 2px solid #ffffff;
  outline: 2px solid #83b3d3;
}

.catalog-filter-input:active {
  border: 2px solid #ffffff;
  background-color: #756257;
  box-shadow: none;
  outline: none;
}

.filter-price-left {
  width: 144px;
  border-radius: 4px 0 0 4px;
}

.filter-price-right {
  width: 143px;

  border-radius: 0 4px 4px 0;
  border-left: none;
}

.range-label-left::after {
  position: absolute;
  left: 112px;
  top: 15px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);

  content: "от";
}

.range-label-right::after {
  position: absolute;
  left: 253px;
  top: 15px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);

  content: "до";
}

/*Ползунок*/
.range-scale {
  position: relative;

  height: 4px;
  margin-bottom: 0;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;

  height: 4px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background: #ffffff;
  border-radius: 5px;
  border: none;

  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.catalog-header {
  padding: 0 72px;
  padding-top: 40px;
  margin-bottom: 43px;

  color: #ffffff;

  background-image: url("../images/filter-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #68a2ca;
}

/*Breadcrumbs*/
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs-link {
  padding: 3px 8px;

  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;

  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus .breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:active .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  position: relative;
  left: -7px;
  top: -10px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 12px;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 9px;
  right: -8px;

  width: 5px;
  height: 8px;

  background: url("../images/arrow.svg");

  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.inner-title {
  margin-top: 0;
  margin-bottom: 5px;

  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  color: inherit;
}

.breadcrumbs-link-home {
  display: block;
}

/*Результаты поиска*/

.search-rez {
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 auto;
}

.search-rez-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.number-hotels {
  width: 338px;
  margin: 0;
}

/*Сортировка*/
.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 527px;
}

.select-control {
  width: 287px;
  padding: 12px 19px;
  padding-right: 48px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;

  cursor: pointer;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.select-control:active {
  border: 2px solid #e6e6e6;
  color: rgba(51, 51, 51, 0.3);
}

/*Отображение карточек*/
.mode-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 230px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;
}

.mode-item {
  margin-left: 8px;
  margin-bottom: 5px;
}

.number-hotels,
.number-hotels-rez {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.mode-button {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;

  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: center;
}

.mode-button:hover {
  border: 2px solid #83b3d3;
}

.mode-button:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.mode-button-current {
  border: 2px solid #000000;
  outline: none;
}

.mode-tile {
  background-image: url("../images/mode-tile.svg");
}

.mode-slideshow {
  background-image: url("../images/mode-slideshow.svg");
}

.mode-listing {
  background-image: url("../images/mode-listing.svg");
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/*Карточки*/
.hotel-card {
  display: grid;
  grid-template-columns: 140px 160px;
  width: 300px;
  padding: 20px;
  margin: 0;
}

.hotel-listing {
  margin-bottom: 34px;
}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-image {
  width: 100%;
  height: auto;
  margin-bottom: 17px;
}

.hotel-card-link:hover .hotel-card-image {
  opacity: 60%;
}

.hotel-card-link:focus {
  outline: none;
}

.hotel-card-link:focus .hotel-card-image {
  outline: 3px solid #83b3d3;
}

.hotel-card-link:focus .hotel-card-title {
  outline: 3px solid #83b3d3;
  border-radius: 2px;
}

.hotel-card-link:focus:active .hotel-card-image {
  opacity: 30%;
  outline: none;
}

.hotel-card-title {
  margin-top: 0;
  margin-bottom: 22px;

  font-size: 24px;
  line-height: auto;
  font-weight: 700;
  color: #000000;
}

.hotel-card-type {
  margin: 0;
  margin-bottom: 17px;
}

.hotel-card-price {
  margin: 0;
  margin-bottom: 16px;
  padding-left: 19px;
}

.hotel-card-more {
  padding: 9px;
  width: 133px;
  margin-bottom: 16px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.hotel-card-button {
  width: 141px;
  padding: 9px;
  margin-left: auto;
  margin-bottom: 16px;
}

.hotel-card-tofavorites {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;

  background-color: #83b3d3;
}

.hotel-card-tofavorites:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.hotel-card-tofavorites:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.hotel-card-tofavorites:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.hotel-card-infavorites {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;

  background-color: #7db54f;
}

.hotel-card-infavorites:hover {
  background-color: #6c9e42;
  cursor: pointer;
}

.hotel-card-infavorites:focus {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}

.hotel-card-infavorites:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #6c9e42;
  outline: none;
}

.hotel-stars-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.hotel-card-star:not(:last-child) {
  margin-right: 7px;
}

.hotel-card-rating {
  margin: 0;
  padding: 9px;

  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
  border-radius: 4px;
}

/*Пагинация*/
.pagination-show-more,
.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.show-more {
  padding-top: 30px;
  padding-bottom: 28px;
  margin-bottom: 30px;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.pagination-show-more {
  display: block;
  width: 620px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;

  background-color: #83b3d3;
}

.pagination-show-more:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.pagination-show-more:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.page-list {
  display: flex;
  align-items: center;
  margin-bottom: 67px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 5px;
}

.pagination-link {
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 15px;

  font-weight: 700;
  color: #ffffff;

  background-color: #83b3d3;
}

.pagination-link:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.page-count {
  margin-left: auto;
  margin-bottom: 5px;
}

.page-count-lable {
  margin-right: 47px;
}

.select-count {
  width: 160px;
  padding: 12px 14px;
  padding-right: 45px;
  box-sizing: border-box;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #333333;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;

  cursor: pointer;
  appearance: none;
}

.select-count:hover,
.select-count:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.select-count:active {
  color: rgba(51, 51, 51, 0.3);
  border: 2px solid #e6e6e6;
}

/*Подвал*/
.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 49px 25px 61px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin: 0;
  margin-top: 13px;
  padding: 0;

  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 4px;
}

.footer-socials-link {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #83b3d3;
}

.footer-socials-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-socials-link:hover .social-icon {
  fill: #68a2ca;
}

.footer-socials-link:focus .social-icon {
  fill: #68a2ca;
}

.footer-socials-link:active .social-icon {
  fill: rgba(104, 140, 202, 0.3);
  outline: none;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts {
  text-align: center;
}

.footer-creator-link {
  position: relative;
  top: 0;

  display: block;
  width: 160px;
  height: 100%;
}

.footer-creator-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #000000;
}

.footer-creator-logo:hover {
  fill: #756257;
}

.footer-creator-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-creator-logo:focus {
  fill: #756257;
}

.footer-creator-logo:active {
  fill: rgba(117, 104, 87, 0.4);
}

.footer-contacts-phone {
  display: inline-block;
  padding: 15px;
  padding-left: 35px;

  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;

  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: rgba(117, 104, 87, 0.4);
}

/*Модальное окно поиска*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

/*Скрывает модельное окно*/
.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  margin: auto;
  padding: 70px;
  padding-top: 54px;

  background-color: #ffffff;
}

.modal-search {
  display: grid;
  grid-template-columns: 522px 53px;
  align-content: start;
  row-gap: 54px;
  width: 715px;
  min-height: 561px;
  box-sizing: border-box;

  background-color: #ffffff;
  border-radius: 30px;
}

.modal-content {
  align-self: center;
}

.modal-title {
  align-self: center;
  margin: 0;

  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.modal-close-button {
  position: relative;

  width: 53px;
  height: 53px;
  padding: 0;

  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;

  cursor: pointer;
}

.modal-clise-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #000000;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #f2f2f2;
}

.modal-close-button:active .modal-clise-icon {
  fill: #e6e6e6;
}

.search-modal-form {
  grid-column: 1/-1;
  position: relative;

  display: grid;
  grid-template-columns: 155px 133px auto 133px;
}

.search-modal-label {
  display: block;
  grid-column: 1/2;
  align-self: center;

  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.search-modal-input {
  box-sizing: border-box;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.search-modal-input:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.search-modal-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.search-modal-input:active {
  box-sizing: border-box;

  background-color: #ffffff;
  background-position: right 19px center;
  outline: none;
  border: 2px solid #000000;
}

/*Состояние при ошибке*/
.input-invalid {
  background-color: #ffffff;
  outline: 2px solid #ff5757;
}

/* Disabled */
.search-modal-input:disabled,
.search-modal-input:disabled:hover {
  background-color: #f2f2f2;
  outline: 2px solid #756257;
  cursor: default;
}

.search-modal-in,
.search-modal-out {
  position: relative;

  grid-column: 2/5;
  padding: 13px 17px 13px 17px;
  margin-bottom: 2px;

  background-image: url("../images/date.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: right 19px center;
  border: 2px solid rgba(255, 255, 255, 0);
}

.search-modal-warning {
  grid-column: 2/5;
  margin: 0;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.search-warning-error {
  color: #ff5757;
}

.search-modal-box {
  position: relative;
}

.modal-input-adults,
.modal-input-kids {
  width: 133px;
  padding: 14px 19px;

  text-align: center;
  color: #000000;

  border: 2px solid rgba(255, 255, 255, 0);

  cursor: pointer;
}

.button-plus,
.button-minus {
  position: absolute;
  top: 13px;

  width: 19px;
  height: 19px;
  box-sizing: border-box;
  padding: 3px 3px;

  background: none;
  border: none;

  cursor: pointer;
}

.button-plus {
  right: 15px;
}

.button-minus {
  left: 15px;
}

.button-plus-icon,
.button-minus-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.button-plus:hover .button-plus-icon,
.button-minus:hover .button-minus-icon,
.button-plus:focus .button-plus-icon,
.button-minus:focus .button-minus-icon {
  fill: #000000;
}

.button-plus:focus,
.button-minus:focus {
  border: none;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-plus:active,
.button-minus:active {
  border: none;
  outline: none;
}

.button-plus:active .button-plus-icon,
.button-minus:active .button-minus-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.button-plus:disabled,
.button-minus:disabled {
  cursor: default;
}

.modal-label-kids {
  position: relative;

  grid-column: 3/4;
  align-self: center;
  margin-left: auto;
  padding-right: 55px;
  padding-left: 10px;
}

.info {
  position: absolute;
  top: -3px;
  right: 19px;

  width: 25px;
  height: 25px;
  margin-top: 4px;
  margin-left: 2px;
  padding: 0;

  border-radius: 50%;
  background-color: #83b3d3;
  border: none;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.info:focus {
  background-color: #68a2ca;
  outline: 2px solid #756257;
}

.info:active {
  background-color: rgba(104, 140, 202, 0.3);
  outline: none;
}

.search-modal-button {
  grid-column: 1/-1;
  padding: 10px;
  margin-top: 38px;

  font-size: 20px;
  line-height: 40px;

  border-radius: 10px;
  background-color: #83b3d3;
}

.search-modal-button:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.search-modal-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.search-modal-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

/*Поповер*/
.popover {
  position: absolute;
  top: 194px;
  right: 36px;
  z-index: 1;

  box-sizing: border-box;
  width: 256px;
  min-height: 186px;

  display: none;
  /*Скрывает поповер*/
}

.popover-open {
  display: block;
  /*Открывает поповер*/
}

.popover-content {
  padding-top: 25px;
  height: 100%;
}

.popover-content::before {
  position: absolute;
  top: 34px;
  left: 118px;

  display: block;
  width: 19px;
  height: 19px;

  background-color: #333333;

  transform: rotate(45deg);

  content: "";
}

.popover-close-button {
  position: absolute;
  top: 0;
  left: 116px;

  width: 25px;
  height: 25px;
  padding: 0;
  margin-bottom: 10px;

  border: none;
  cursor: pointer;
  background: none;
}

.popover-info-block {
  padding: 20px;
  padding-bottom: 22px;
  margin: 0;
  margin-top: 15px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.popover-info-text {
  margin: 0;
}
